<tr>
    <td>{{deList project}}</td>
    <td>{{deList po}}</td>
    <td>{{deList swle5}}</td>
    <td>{{deList swle6}}</td>
    <td>{{deList results}}</td>
    <td>
        {{#each swle5}}
            <a href="/info?id={{../id}}&pid={{pid}}">press</a>
        {{/each}}
    </td>
</tr>