<tr>
    <td>{{deList project}}</td>
    <td>{{deList po}}</td>
    <td>{{deList swe5}}</td>
    <td>{{deList swe6}}</td>
    <td>{{deList results}}</td>
    <td style="display:flex;flex-direction:column;gap:2px">
        {{#each swe5}}
            <a class="press" href="/info?id={{../id}}&pid={{pid}}">press</a>
        {{/each}}
    </td>
</tr>