<tr>
    <td>{{deList project}}</td>
    <td>{{deList po}}</td>
    <td>{{deList2 swle5}}</td>
    <td>{{deList swle6}}</td>
    <td>{{deList results}}</td>
    <td>
        {{#each swle5}}
            <a href="/info?id={{name}}">press</a>
        {{/each}}
    </td>
</tr>