<h3>SWE.5</h3>
<table class="swe5">
        <thead>
            <th colspan="2">Number of SWE.2 SW Arch Design:</th>
        </thead>
        <tbody>
                <tr>
                    <td>To be reviewed</td>
                    <td>{{swe5.tbr}}</td>
                </tr>
                <tr>
                    <td>In review</td>
                    <td>{{swe5.ir}}</td>
                </tr>
                <tr>
                    <td>Accepted (testable)</td>
                    <td>{{swe5.accepted}}</td>
                </tr>
                <tr>
                    <td>Not testable</td>
                    <td>{{swe5.nt}}</td>
                </tr>
                <tr>
                    <td>Total in project</td>
                     <td>{{swe5.tip}}</td>
                </tr>
        </tbody>
        </table>
        <table class="swe5">
            <thead>
                <th colspan="2">Number of SWE.5 Tests:</th>
            </thead>
            <tbody>
                <tr>
                    <td>Total number of tests</td>
                    <td>{{swe5.tnot}}</td>
                </tr>
                <tr>
                    <td>Number/Percent of automated tests</td>
                    <td>{{swe5.npoat}}</td>
                </tr>
                <tr>
                    <td>Number/Percent of manual tests</td>
                    <td>{{swe5.npomt}}</td>
                </tr>
                <tr>
                    <td>Percent of SWE.1 (Accepted) covered with SWE.6</td>
                    <td>{{swe5.paccepted}}</td>
                </tr>
                <tr>
                    <td>Percent of SWE.1 (Total) covered with SWE.6</td>
                    <td>{{swe5.ptotal}}</td>
                </tr>
            </tbody>
        </table>