<h3>SWE.6</h3>
<table class="swle6">
        <thead>
            <th colspan="2">Number of SWE.1 SW Arch Design:</th>
        </thead>
        <tbody>
                <tr>
                    <td>To be reviewed</td>
                    <td>{{swle6.tbr}}</td>
                </tr>
                <tr>
                    <td>In review</td>
                    <td>{{swle6.ir}}</td>
                </tr>
                <tr>
                    <td>Accepted (testable)</td>
                    <td>{{swle6.accepted}}</td>
                </tr>
                <tr>
                    <td>Not testable</td>
                    <td>{{swle6.nt}}</td>
                </tr>
                <tr>
                    <td>Total in project</td>
                     <td>{{swle6.tip}}</td>
                </tr>
        </tbody>
        </table>
        <table class="swle6">
            <thead>
                <th colspan="2">Number of SWE.5 Tests:</th>
            </thead>
            <tbody>
                <tr>
                    <td>Total number of tests</td>
                    <td>{{swle6.tnot}}</td>
                </tr>
                <tr>
                    <td>Number/Percent of automated tests</td>
                    <td>{{swle6.npoat}}</td>
                </tr>
                <tr>
                    <td>Number/Percent of manual tests</td>
                    <td>{{swle6.npomt}}</td>
                </tr>
                <tr>
                    <td>Percent of SWE.1 (Accepted) covered with SWE.6</td>
                    <td>{{swle6.paccepted}}</td>
                </tr>
                <tr>
                    <td>Percent of SWE.1 (Total) covered with SWE.6</td>
                    <td>{{swle6.ptotal}}</td>
                </tr>
            </tbody>
        </table>